<!-- <div>
  <div>
      <p>ID: {{person.ID}}</p>
      <p>Name: {{person.Name}}</p>
      <p>Email: {{person.Email}}</p>
  </div>
  <h1>Profile Form </h1>
  <form  #profileForm="ngForm">
     <div>
        <label for = "name">Name</label>
        <input type = "text" id = "name" [(ngModel)] = "person.Name" name = "name">
     </div>
     <div>
        <label for = "age">Email</label>
        <input type = "text" id = "email" [(ngModel)] = "person.Email" name = "email">
     </div>
  </form>
</div> -->