<h1>User List</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody *ngFor="let p of person"> 
        <tr>
           <td>{{p.ID}}</td> 
           <td>{{p.Name}}</td>
           <td>{{p.Email}}</td>
           <td><button (click)="onSelected(p)" [routerLink]="['/users', p.ID]">Detail</button></td>
        </tr> 
    </tbody>
</table>
<user-detail [person]="selectedPerson"></user-detail>