/* You can add global styles to this file, and also import other style files */

/* Footer style */
body {
    margin: 0px !important;
    overflow: hidden;
}

.md-toolbar-footer.mat-toolbar .mat-toolbar-row {
    display: grid !important;
    text-align: center;
}

